*{
  padding: 0px;
  margin: 0px;
  background-color: black;
}
h2{
  font-size:32px;
  padding-top: 5px;
  padding-bottom: 20px;
}


.navbar{
  background-color: black;
  display: flex;
  justify-content:space-evenly;
}
.navigation{
  padding: 10px;
}
.navbar-content{
  display: flex;
  justify-content: center;
  margin-right: 25px;
}
.navbar-content a{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
}
.navbar-content a:hover{
  opacity: 0.8;
}

.box-body{
  width: 175px;
  height: 75px;
  background-color: #fb0082;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  
}

.box-content p,span{
  padding: 2px;
  background-color: #fb0082;
 

}

.container{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Poor Story', cursive;

}


.graph{
  width: 650px;
  margin: auto;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.chart{
  margin-top: 20px;
  background-color: rgb(0, 0, 0);

  
}

.chart-contain{
  border:2px solid rgb(24, 24, 24);
  padding: 20px;
  border-radius: 10px;
  margin-bottom:40px;
}

.avarage{
  text-align: end;
}
.avarage span{
  border-radius: 5px;
  padding: 5px;
}

.button-time button{
  color: antiquewhite;
  padding: 5px;
  margin-top: 5px;
  width: 50px;
 
}
.sum-labels{
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.sumlabel-content{
  width: 175px;
  background-color:#fb0082;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 5px;
}
