*{
    padding: 0px;
    margin: 0px;
}

.App{
    display: flex;
    flex-direction: row;
    justify-content:start;
}

.sidebar{
    background-color: blue;
    color:white;
    width: 15%;
    padding:10px;
    height: 100vh;

}

.category{
    padding: 20px;
    font-size: 20px;
    
}
.category span{
    margin-left: 10px;
    
}

.category li{
    padding: 15px;
    list-style-type: none;
}
.category li a{
    text-decoration: none;
    color: whitesmoke;  
}

.eth{
    padding: 5px;
    text-align: center;
    width: 90%;
    margin-left: 7px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}


.background{
    width: 100vw;
    height: 80vw;
    background-color:rgba(200,200,200);
    position: fixed;
    display: flex;
    justify-content: center;
 
}

.container{
    width: 400px;
    min-height: 250px;
    max-height: 350px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 200px;
}

.modal-buton{
    position:absolute;
    left: 750px;
    top: 150px;
    height: 70px;
    width: 100px;

}

.modal-close{
    display: flex;
    justify-content: end;
}
.modal-close button{
    border-radius: 50%;
    border: 0px;
    background-color: rgb(228, 72, 72);
    width: 15px;
    height: 15px;
    font-size: 7.5px;
    color: rgb(29, 31, 31);

}
.modal-close button:hover{
    background-color: rgb(246, 153, 153);
    border:1px solid black;
}

.modal-title{
    text-align: center;
    padding: 10px;
}


.modal-content{
    padding: 5px;
    margin-top: 10px;
}

.button-modal{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.button-modal button{
    padding: 4px;
    width: 80px;
}

#accept{
    background-color: rgba(73, 158, 73, 0.603);
    color: black;
    border: 0.25px solid black;
    border-radius: 4px;
}

#reject{
    background-color: rgba(172, 57, 57, 0.603);
    color: black;
    border: 0.25px solid black;
    border-radius: 4px;
}

#reject:hover,#accept:hover{
    background-color: azure;
    border: 2px solid black;


}

