
*{
  padding: 0px;
  margin: 0px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: bisque;
}

.logo{
  height: 70px;
  
}




.category{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}
.category a{
  color:coral;
  text-decoration: none;
  font-size: 17px;
  
}
.social-media{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.toggle{
  display: none;
}
.flex-item{
  display: flex;
  gap: 350px;

}

@media (max-width: 768px) {
  .toggle{
    display: initial;
  }

  
}